<header>
  <nav
    class="fixed top-4 left-1/2 -translate-x-1/2 z-50 bg-white/80 backdrop-blur-md border-3 border-black rounded-full px-4 py-2 text-sm flex items-center gap-1"
  >
    <a
      class="flex items-center gap-1 px-4 py-2 rounded-full hover:bg-blue-400 transition-colors duration-400"
    >
      <span><app-icon name="home" className="w-4 h-4"></app-icon></span>
      <span>Home</span>
    </a>
    <a
      class="flex items-center gap-1 px-4 py-2 rounded-full hover:bg-blue-400 transition-colors duration-400"
    >
      <span><app-icon name="code" className="w-4 h-4"></app-icon></span>
      <span>Skills</span>
    </a>
    <a
      class="flex items-center gap-1 px-4 py-2 rounded-full hover:bg-blue-400 transition-colors duration-400"
    >
      <span><app-icon name="briefcase" className="w-4 h-4"></app-icon></span>
      <span>Experience</span>
    </a>
    <a
      class="flex items-center gap-1 px-4 py-2 rounded-full hover:bg-blue-400 transition-colors duration-400"
    >
      <span><app-icon name="graduation-cap" className="w-4 h-4"></app-icon></span>
      <span>Education</span>
    </a>
    <a
      class="flex items-center gap-1 px-4 py-2 rounded-full hover:bg-blue-400 transition-colors duration-400"
    >
      <span><app-icon name="laptop" className="w-4 h-4"></app-icon></span>
      <span>Projects</span>
    </a>
    <a
      class="flex items-center gap-1 px-4 py-2 rounded-full hover:bg-blue-400 transition-colors duration-400"
    >
      <span><app-icon name="mail" className="w-4 h-4"></app-icon></span>
      <span>contact</span>
    </a>
  </nav>
</header>
