<section class="flex min-h-[calc(100svh-4rem)] items-center px-6 pt-4 pb-8 sm:pt-20">
  <article
    class="mx-auto grid w-full max-w-7xl grid-cols-1 items-center gap-10 md:grid-cols-2 lg:gap-16"
  >
    <div>
      <div
        class="mb-6 inline-flex items-center gap-2 rounded-full border border-black bg-slate-200 px-4 py-2 text-lg text-black italic"
      >
        <span class="h-3 w-3 animate-pulse rounded-full bg-blue-700"></span>
        <span>Welcome to my Portfolio</span>
      </div>

      <h1 class="mb-6 text-4xl font-extrabold tracking-tight text-blue-700 sm:text-6xl lg:text-7xl">
        Hello, <br />
        I'm
        <span class="bg-gradient-to-r from-cyan-400 to-teal-300 bg-clip-text text-transparent">
          BalaShiranjeevi
        </span>
      </h1>

      <div
        class="mb-6 inline-flex items-center gap-2 rounded-lg border border-black bg-slate-200 px-3 py-2 text-2xl"
      >
        <p>{{ displayText() }}</p>
        <span class="typing-cursor inline-block h-5 w-0.5 bg-black"></span>
      </div>

      <p class="mb-6 text-base leading-relaxed text-slate-400 sm:text-2xl">
        Software Developer | Fullstack Development | Agentic AI
      </p>

      <div class="flex flex-wrap gap-4 pt-2">
        <a
          href="https://github.com/balashiranjeevim"
          target="_blank"
          rel="noopener noreferrer"
          class="rounded-lg border-2 border-black bg-slate-200 px-4 py-2 font-bold text-black text-xl inline-block"
        >
          Learn More
        </a>
        <a
          href="https://drive.google.com/file/d/1kOP7DxYJIWNSMaIYHiAd1GiFAVafOpzo/view?usp=sharing"
          target="_blank"
          rel="noopener noreferrer"
          class="rounded-lg border-2 border-black bg-black px-4 py-2 font-bold text-white text-xl inline-block"
        >
          Get Resume
        </a>
      </div>
    </div>

    <div class="flex justify-center md:justify-end">
      <img
        src="/images/profile.jpg"
        alt="Bala Shiranjeevi Profile image"
        class="aspect-[4/5] w-full max-w-md rounded-xl object-cover lg:max-w-lg"
      />
    </div>
  </article>
</section>
