<section class="flex min-h-screen items-center px-6 pt-24 pb-10">
  <article class="mx-auto grid w-full max-w-6xl grid-cols-1 items-center gap-10 md:grid-cols-2">
    <div>
      <div
        class="mb-4 inline-flex items-center gap-2 rounded-full border border-black bg-slate-200 px-4 py-2 text-xs text-black"
      >
        <span class="h-3 w-3 animate-pulse rounded-full bg-blue-700"></span>
        <span>Welcome to my Portfolio</span>
      </div>

      <h1 class="mb-4 text-4xl font-extrabold tracking-tight text-blue-700 sm:text-6xl">
        Hello, <br />
        I'm
        <span class="bg-gradient-to-r from-cyan-400 to-teal-300 bg-clip-text text-transparent">
          BalaShiranjeevi
        </span>
      </h1>

      <div
        class="mb-4 inline-flex items-center gap-2 rounded-lg border border-black bg-slate-200 px-3 py-2 text-lg"
      >
        <p>{{ displayText() }}</p>
        <span class="typing-cursor inline-block h-5 w-0.5 bg-black"></span>
      </div>

      <p class="mb-4 text-base leading-relaxed text-slate-400 sm:text-lg">
        Software Developer | Fullstack Development | Agentic AI
      </p>

      <div class="flex flex-wrap gap-4 pt-2">
        <button
          class="rounded-lg border-2 border-black bg-slate-200 px-4 py-2 font-bold text-black"
        >
          Learn More
        </button>
        <button class="rounded-lg border-2 border-black bg-black px-4 py-2 font-bold text-white">
          Get Resume
        </button>
      </div>
    </div>

    <div class="flex justify-center md:justify-end">
      <img
        src="/images/profile.jpg"
        alt="Bala Shiranjeevi Profile image"
        class="h-full w-auto max-w-md rounded-xl object-cover sm:h-110"
      />
    </div>
  </article>
</section>
